body {
  font-family: Georgia, serif;
  background-color: rgb(77, 13, 13);

  margin: 0;
  padding: 0;
}



.container {
  max-width: 600px;
  margin: 40px auto;
  background-color:white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px white;

}

h1 {
  text-align: center;
  color:  rgb(77, 13, 13);

}

p {
  text-align: center;
  font-size: 16px;
  color: rgb(77, 13, 13);

}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  color: #3e2d26;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid rgb(77, 13, 13);

  border-radius: 5px;
  font-size: 15px;
}

button {
  margin-top: 25px;
  background-color: rgb(77, 13, 13);

  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}


